body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilos del contenedor principal */
main {
    padding: 20px;
}

/* Estilos de la lista de mangas */
#mangas-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Estilos de cada manga */
.manga {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    width: 200px;
}

/* Estilos de la imagen del manga */
.manga img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}